<h2 class="cart-title">
    Carrinho
</h2>
<div *ngIf="cartItens.length > 0; else emptyCart">
    <ul>
        <li *ngFor="let cartItem of cartItens">
            <img [src]="cartItem.image" alt="">
            <p>{{ cartItem.description }}</p>
            <p>Preço: {{ cartItem.price | currency: "BRL"}}</p>
            <label>
                Quantidade:
                <input type="number" [(ngModel)]="cartItem.quantityProducts" (change)="sumTotalPrice()">
            </label>
            <button class="remove-button" (click)="removeProductToCart(cartItem.id)">
                <i class="fa-solid fa-trash"></i>
            </button>
        </li>
    </ul>
    <h2 class="cart-total">
        Total: {{ totalPrice | currency: "BRL" }}
    </h2>
    
    <button class="buy-button" (click)="clickButtonBuy()">Comprar</button>
</div>

<ng-template #emptyCart>
    <div id="emptyCart">
        <h2 class="cart-title">
            Não há produtos em seu carrinho!
        </h2>
    </div>
</ng-template>
